/*---------------------------

    KEY STYLING

---------------------------*/
@font-face {
    font-family: vegur;
    src: url(arro_vegur/Vegur-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: vegurBold;
    src: url(arro_vegur/Vegur-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: vegurLight;
    src: url(arro_vegur/Vegur-Light.otf);
    font-weight: lighter;;
}

body {
    margin:0;
    padding:0;
    font-family: vegur;
    border: 2px solid black;
    background-color: #313d4d;
}

img {
    border-radius: 8px;
    border: 2px solid #EF476F;
    float: center;
    display: block;
    margin: auto;
    overflow: hidden;
}

/*---------------------------

    OTHER STYLING

---------------------------*/
/*------HEADER-------*/
.pc-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 12.5px;
  overflow: hidden;
  background-color: #333333;
}

.pc-navbar li {
  float: left;
}

h1 {
  color: lightblue;
  font-size: 34px;
  text-align: center;
  text-shadow: -1px 5px #222E50;
  font-family: 'Vegur-Regular'; /* Changes header one font to Open Sans */
}

p{
  text-align: center;
  color: white;
}
.pc-navbar li a{
    font-family: vegurLight;
    color: #EEEEEE;
    padding: 50px;
    text-decoration: none;
}

.pc-navbar li a:hover:not(#active) {
    background-color: #111;
}

#active {
    color: #a8a8a8;
}

/*-------------------*/
.pc-section h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
	color: white;
  font-family: vegurLight;
  font-size: 70px;
}

#member{
  border: 2px solid #EF476F;
  margin:auto;
  float: center;
}

#frame{
  margin: auto;
  display: block;
  vertical-align: center;
  width: 90%;
  border:  2px solid black;
  border-radius: 4px;
  overflow: hidden;
}

.p1 {
  color: white;
  border-radius: 4px;
  background-color: black;
  border-right: 2px solid #EF476F;
  border-bottom: 2px solid #EF476F;
  text-align: left
  padding: 10px;
}

.pc-container {
  padding-left: 100px;
}

/*.pc-container ul{
    list-style-type: none;
}

.pc-container ul li{
    float: left;
    width: 50%;
}*/

.pc-member {
  border-radius: 4px;
    float: left;
    width: 45%;
    margin-right: 25px;
}

.pc-member h3 h4 p {
    color: black;
}

.pc-member h3 {
  font-family: vegurLight;
  font-size: 24px;
  margin-top: -30px;
  color: #EF476F;
  text-shadow: 1px 2px black;
}

.pc-member h4 {
    font-family: vegurBold;
    font-size: 26px;
    color: #a3e7fc;
    text-shadow: 1px 2px black;
    /*background-color: #1e252f;
    border-radius: 25px;*/
}

/*---------------------------

    OTHER STYLING

---------------------------*/

/*-------MODULE------*/
.module-1 {
    border-left: 70px solid #262a33;
    border-right: 70px solid #262a33;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 44px;
}

.module-1 header {
    margin: 20px 0px 20px 0px;
}

.module-1 header h1,h2 {
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.module-1 header h1 {
    font-family: vegurLight;
    font-size: 70px;
}

.module-1 header h2 {
    color: #878787;
    font-size: 20px;
}

.module-1 .contents {
    margin-left: 100px;
    width: 800px;
}

.module-1 .contents .question h3 {
    background-color: #4A505E;
    border-radius: 25px;
    font-family: vegurLight;
    padding: 10px 0px 10px 15px;
}

.module-1 .contents .answer {
    display: none;
    padding: 0px 0px 15px 15px;
}

.module-1 .contents .answer p {
    margin: 0;
    padding: 0;
}

.module-1 .contents a {
    color: #84aced;
    text-decoration: none;
}
/*-------------------*/