/*---------------------------

    KEY STYLING

---------------------------*/
@font-face {
    font-family: vegur;
    src: url(Resources/CSS/arro_vegur/Vegur-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: vegurBold;
    src: url(arro_vegur/Vegur-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: vegurLight;
    src: url(Resources/CSS/arro_vegur/Vegur-Light.otf);
    font-weight: lighter;;
}


/*-----------NAVBAR------------*/
.pc-navbar ul {
    list-style-type: none;
    margin:auto;
    padding-top: 20px;
    padding-bottom:20px;
    
    width:100%; 
    overflow: hidden;
    background-color: #EEEEEE;
    
    position:fixed;
}

.pc-navbar li {
    float: left;
}

.pc-navbar li a{
    font-family: vegur;
    font-size:1.25em;
    color: #333333;
    padding-top:40px;
    padding-bottom: 40px;
    padding-left: 70px;
    padding-right: 70px;
    text-decoration: none;
}


.pc-navbar li a:hover:not(#active) {
    background-color: #333333;
    color:#EEEEEE;
}

#active {
    background-color: #E75A7C;
}
/*-----------NAVBAR------------*/


body{
    margin:auto;
    margin: 0%;
    background-color: whitesmoke;
}
    

#div1{
    margin:auto;
    
    padding-bottom: 5%;
    padding-top:45%;

    background-image: url(images/mortar-321795_1920.jpg);
    background-position:center;
    background-size:cover;

}

#div1 h1 {
    font-family:vegur;
    color: #313d4d;
    
    font-weight: 500;
    font-size: 88px;
    align-content: center;
    text-align: center;
    
    margin-top: -25%;
}

#div1 b{
    font-family:vegur;
    color: #ef476f;
    font-weight: 500;
    font-size: 90px;
    }


#div1 p1{
    color:#333333;
    font-size:40px;
    font-family: vegur;
    margin-top: -3%;
    
    align-content: center;
    text-align: center;
    display: block;
}

#div2{
    
    color:#313d4d;
    
    margin:auto;

    padding-bottom:17%;
    padding-top:2%;
    
    font-family: vegur;
    
    background-image: url(images/androidApple.png);
    background-size:auto;
    background-repeat: no-repeat;
    background-position: right;
}

#div2 h1{
    font-size: 45px;
    padding-left:5%;
    padding-top:10%;
    
}

#div2 p1{
    font-size:30px;
    font-weight:400;
    
    display: block;
    
    align-content: center;
    text-align: left;
    padding-left: 8%;
    margin-right: 20%;

}
#div2 b2{
    color:#E75A7C;
    font-weight:bold;
}


#div3{
   margin:auto;

    display: block;
    background-image:linear-gradient( rgba(49,61,77,0.5), rgba(49,61,77,0.5) ), url(images/medications-cure-tablets-pharmacy-51004.jpeg);
    background-size: cover;
    background-position:center;
    
    padding-top: 2.5%;
    padding-bottom:2.5%;

}

#div3 h1{
    padding-top:5%;
    padding-left:5%;
    font-family:vegur;
    color: whitesmoke;
    font-weight: bold;
    font-size: 60px;
    font-weight:500;
    text-align: left;
    
}

#div3 b2{
    
    color: #ef476f;
    font-weight: bold;
}

#div3 b1{
    color:#313d4d;
    font-weight:bold;
}

#div3 p1{
    color:whitesmoke;
    font-size:40px;
    margin-left:5%;
    margin-right:5%;
    font-family: vegur;
    
    text-align: left;
    display: block;
    
    padding-bottom:15%;
    padding-left:7%;
}

#div4 {
    margin-top:-5%;
    font-family: vegur;
    background-image: url(images/medications-cure-tablets-pharmacy-56612.jpeg);
    background-size: cover;
    background-position:top;
    
    color:#313d4d;
    
}

#div4 h1{
    font-size: 60px;
    font-weight:500;
    
    text-align: left;
    
    padding-left: 5%;
    padding-top:5%;
    
}

#div4 p1{
    
    font-size: 35px;
    padding-left: 7%;
    
    display:block;
    
    padding-bottom:25%;
    
}

#div5 {
    margin-top:-5%;
    font-family: vegur;
    background-image: linear-gradient( rgba(49,61,77,0.7), rgba(49,61,77,0.7) ), url(images/shopping-cart-1275480_1920.jpg);
    background-size: cover;
    background-position:top;
    
    color:whitesmoke;
    
}

#div5 h1{
    font-size: 65px;
    font-weight:500;
    
    text-align: center;
    
    padding-top:14%;
    padding-bottom:1%;
    
}

#div5 p1{
    
    font-size: 45px;
    
    display:block;
    
    text-align: center;
    
    padding-bottom:17%;
    
}

#div5 b2{
    
    color: #ef476f;
    font-weight: bold;
}

#div5 b1{
    color:#313d4d;
    font-weight:bold;

}

#div6 {
    margin-top:-5%;
    font-family: vegur;
    background-image: linear-gradient( rgba(0,0,0,0.9), rgba(0,0,0,0.4) ), url(images/matrix-1735640_1920.jpg);
    background-size: cover;
    background-position:top;
    
    padding-bottom:12%;
    
    color:whitesmoke;
    
}

#div6 h1{
    font-size: 60px;
    font-weight:500;
    
    text-align: center;
    
    padding-top:10%;
    
    color:#313d4d
}

#div6 p1{
    
    font-size: 40px;
    
    display:block;
    margin-left: 5%;
    margin-right:5%;
    
    text-align: center;
    
    padding-bottom:1%;
    
}

#div6 b2{
    
    color: #ef476f;
    font-weight: bold;
}

#div6 b1{
    color:#313d4d;
    font-weight:bold;
}

#div7 {
    margin-top:-5%;
    font-family: vegur;
    background-color:whitesmoke;
    color:#313d4d;
    padding-bottom:16.5%;
    
}

#div7 h1{
    font-size: 60px;
    font-weight:500;
    
    text-align: center;

    padding-top:5%;
    
}

#div7 p1{
    
    font-size: 45px;
    
    display:block;
    text-align: center;
    
    padding-bottom:4%;
    
}

#div7 b2{
    
    color: #ef476f;
    font-weight: bold;
}

#div7 b1{
    color:#313d4d;
    font-weight:bold;
}



>>>>>>> 58ede159a159fecc4c0ce9d445fb4ed43dc0380f
