/*---------------------------
    FONT
---------------------------*/
@font-face {
    font-family: vegur;
    font-weight: normal;
    src: url(Resources/CSS/arro_vegur/Vegur-Regular.otf);
}

@font-face {
    font-family: vegurBold;
    font-weight: bold;
    src: url(Resources/CSS/arro_vegur/Vegur-Bold.otf);
}

@font-face {
    font-family: vegurLight;
    font-weight: lighter;
    src: url(Resources/CSS/arro_vegur/Vegur-Light.otf);
}


.a1 {
  font-weight: bold;
  text-decoration: none;
  color: #EF476F;
  font-family: 'Vegur-Bold';
  text-shadow: 1px 1px pink;
}

.a1:hover{
   text-shadow: 1px 1px black;
}

/*------------NAVBAR----------------*/
.pc-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 12.5px;
  overflow: hidden;
  background-color: #333333;
}

.pc-navbar li {
  float: left;
}

.pc-navbar li a{
    font-family: vegurLight;
    color: #EEEEEE;
    padding: 50px;
    text-decoration: none;
    text-shadow: none;
}

.pc-navbar li a:hover:not(#active) {
    background-color: #111;
}

#active {
    background-color: #E75A7C;
}

/*----------------------------------
        General functions
------------------------------------*/

body {
    margin:0;
    padding:0;
    font-family: vegur;
    border: 2px solid black;
    background-color: white;
}

img {
    border-radius: 8px;
    padding: 2px;
    background-color: black;
    border-bottom: 2px solid #EF476F;
    border-right: 2px solid #EF476F;
    float: center;
    display: block;
    margin: auto;
    overflow: hidden;
}


h1 {
  color: #222E50;
  font-size: 34px;
  text-align: center;
  text-shadow: 1px 1px black;
  font-family: 'Vegur-Regular'; /* Changes header one font to Open Sans */
}

p{
  text-align: center;
  color: black;
}

/*-------------------*/
.pc-section h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
	color: #222E50;
  font-family: vegurLight;
  font-size: 70px;
}

#member{
  border: 2px solid #EF476F;
  margin:auto;
  float: center;
}

#frame{
  margin: auto;
  width: 90%;
  background-color: black;
  padding: 2px;
  border-right:  2px solid #EF476F;
  border-bottom:  2px solid #EF476F;
  border-radius: 4px;
  overflow: hidden;
}

.p1 {
  color: white;
  border-radius: 4px;
  background-color: black;
  border-right: 2px solid #EF476F;
  border-bottom: 2px solid #EF476F;
  text-align: left
  padding: 10px;
}

.pc-container {
  padding-left: 100px;
}

.pc-member {
  border-radius: 4px;
    float: left;
    width: 45%;
    margin-right: 25px;
}

.pc-member h3 {
  font-family: vegurLight;
  font-size: 24px;
  margin-top: -30px;
  color: #EF476F;
  text-shadow: 1px 1px pink;
}

.pc-member h4 {
    /*Name*/
    font-family: vegurBold;
    font-size: 26px;
    color: black;
    text-shadow: 1px 1px grey;
}