/*---------------------------
    FONT
---------------------------*/
@font-face {
    font-family: vegur;
    font-weight: normal;
    src: url(Resources/CSS/arro_vegur/Vegur-Regular.otf);
}

@font-face {
    font-family: vegurBold;
    font-weight: bold;
    src: url(Resources/CSS/arro_vegur/Vegur-Bold.otf);
}

@font-face {
    font-family: vegurLight;
    font-weight: lighter;
    src: url(Resources/CSS/arro_vegur/Vegur-Light.otf);
}

/*------------NAVBAR----------------*/

.pc-navbar{
  position: fixed;
  width: 100%;
}

.pc-navbar ul {
  list-style-type: none;
  margin: 0px;
  padding-top: 20px;
  padding-bottom:20px;

  width: 100%;
  overflow: hidden;
  background-color: #EEEEEE;
}

.pc-navbar li {
  float: left;
}

.pc-navbar li a{
  font-family: vegur;
  font-size:1.25em;
  color: #333333;
  padding-top:40px;
  padding-bottom: 40px;
  padding-left: 70px;
  padding-right: 70px;
  text-decoration: none;
}

.pc-navbar li a:hover:not(#active) {
    background-color: #333333;
    color: #EEEEEE;
}

#active {
    background-color: #E75A7C;
}

/*----------------------------------
        General functions
------------------------------------*/

body {
    margin: 0px;
    font-family: vegur;
    background-color: white;
}

img {
    border-radius: 4px;
    padding: 2px;
    background-color: black;
    float: center;
    display: block;
    margin: auto;
    overflow: hidden;
}

h1 {
  color: #222E50;
  font-size: 70px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 20px;
  font-family: vegurBold; /* Changes header one font to Open Sans */
}

p{
  text-align: center;
  font-family: vegur;
  color: black;
}

/*-------------------*/

b {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #EF476F;
  font-family: vegurBold;
}

strong {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #5FACE5;/*Change this to change the color of the Pharma*/
  font-family: vegurBold;
}

.a1 {
  font-weight: bold;
  text-decoration: none;
  color: #EF476F;
  font-family: vegurLight;
  text-shadow: 1px 1px pink;
}

.a1:hover{
   font-family: vegurBold;
}

#member{
  border: 2px solid #EF476F;
  margin:auto;
  float: center;
}

#frame{
  display: block;
  border: 2px solid black;
  border-radius: 4px;
  width: 80%;
  height: 400px;
  padding: auto;
  margin: auto;
  vertical-align: center;
  overflow: hidden;
}

.p1 {
  color: #111;
  border-radius: 4px;
  border: 2px solid #EF476F;
  text-align: center;
  padding: 20px;
}

.pc-container {
  padding: 100px;
}

.pc-map{
  display: block;
  border-radius: 4px;
  float: left;
  width: 100%;
  margin-right: 25px;
}

/*Div for each member*/
.pc-member {
  display: block;
  border-radius: 4px;
  float: left;
  width: 48%;
  margin-right: 25px;
}

/*Team Member Position*/
.pc-member h3 {
  display: inline-block;
  font-family: vegurBold;
  font-size: 20px;
  margin-top: -35px;
  color: #111;
  margin-left: 30px;
  border-radius: 4px;
  border: 2px solid #111;
  padding: 10px;
}

/*Team Member Name*/
.pc-member h4 {
    font-family: vegurBold;
    font-size: 26px;
    color: #222E50;
    text-shadow: 1px 1px grey;
}