/* Table of Contents
- KEY STYLING
    - FONTS
    - PAGE
    - NAVBAR
- OTHER STYLING
    - MODULE
*/

/*---------------------------

    KEY STYLING

---------------------------*/

/*------FONTS-------*/
@font-face {
    font-family: vegur;
    font-weight: normal;
    src: url(arro_vegur/Vegur-Regular.otf);
}

@font-face {
    font-family: vegurBold;
    font-weight: bold;
    src: url(arro_vegur/Vegur-Bold.otf);
}

@font-face {
    font-family: vegurLight;
    font-weight: lighter;
    src: url(arro_vegur/Vegur-Light.otf);
}

strong {
    font-family: vegurBold;
}
/*------------------*/

/*-------PAGE-------*/
body{
    background-color: #313d4d;
    color: white;
    font-family: vegur;
    margin:0;
    padding:0;
}
/*------------------*/

/*------NAVBAR------*/
.navbar ul {
    background-color: #414449;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 12.5px;
}

.navbar li {
    float: left;
}

.navbar li a{
    color: #EEEEEE;
    font-family: vegurLight;
    padding: 50px;
    text-decoration: none;
}

.navbar li a:hover:not(#active) {
    background-color: #111;
}

#active {
    color: #a8a8a8;
}
/*-------------------*/

/*---------------------------

    OTHER STYLING

---------------------------*/

/*-------MODULE------*/
.module-1 {
    border-left: 70px solid #262a33;
    border-right: 70px solid #262a33;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 44px;
}

.module-1 header {
    margin: 20px 0px 20px 0px;
}

.module-1 header h1,h2 {
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.module-1 header h1 {
    font-family: vegurLight;
    font-size: 70px;
}

.module-1 header h2 {
    color: #878787;
    font-size: 20px;
}

.module-1 .contents {
    margin-left: 100px;
    width: 800px;
}

.module-1 .contents .question h3 {
    background-color: #4A505E;
    border-radius: 25px;
    font-family: vegurLight;
    padding: 10px 0px 10px 15px;
}

.module-1 .contents .answer {
    display: none;
    padding: 0px 0px 15px 15px;
}

.module-1 .contents .answer p {
    margin: 0;
    padding: 0;
}

.module-1 .contents a {
    color: #84aced;
    text-decoration: none;
}
/*-------------------*/
