/*
PharmaC
File: stylesheetFAQ.css
Desc: The CSS styling for the Frequently Asked Questions page
Author: Shahzaib Sahibzada

Table of Contents
- KEY STYLING
    - FONTS
    - PAGE
    - NAVBAR
- OTHER STYLING
    - MODULE
*/

/*---------------------------

    KEY STYLING

---------------------------*/

/*------FONTS-------*/
@font-face {
    font-family: vegur;
    font-weight: normal;
    src: url(Resources/CSS/arro_vegur/Vegur-Regular.otf);
}

@font-face {
    font-family: vegurBold;
    font-weight: bold;
    src: url(Resources/CSS/arro_vegur/Vegur-Bold.otf);
}

@font-face {
    font-family: vegurLight;
    font-weight: lighter;
    src: url(Resources/CSS/arro_vegur/Vegur-Light.otf);
}

strong {
    font-family: vegurBold;
}
/*------------------*/

/*-------PAGE-------*/
body{
    background-color: whitesmoke;
    color: #111;
    font-family: vegur;
    margin:0;
    padding:0;
}

h1{
    color: #222E50;
}

strong {
  font-weight: bold;
  text-decoration: none;
  color: #5FACE5; /*Change this to change the color of the Pharma*/
  font-family: vegurBold;
}

b{
    color: #EF476F;
    font-family: vegurBold;
}
/*------------------*/

/*------NAVBAR------*/
.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding-top: 10px;
    padding-bottom:10px;

    width:100%;
    overflow: hidden;
    background-color: #333333;
}

.navbar li {
    float: left;
}

.navbar li a{
    font-family: vegur;
    font-size:1.25em;
    color: #EEEEEE;
    padding: 40px;
    text-decoration: none;
}

.navbar li a:hover:not(#active) {
    background-color: #111;
}

#active {
    background-color: #E75A7C;
}
/*-------------------*/

/*---------------------------

    OTHER STYLING

---------------------------*/

/*-------MODULE------*/
.module-1 {
    margin: 0px;
}

.module-1 header {
    margin: 20px 0px 20px 0px;
}

.module-1 header h1,h2 {
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.module-1 header h1 {
    font-size: 90px;
}

.module-1 header h2 {
    color: #878787;
    font-size: 25px;
}

.module-1 .contents {
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.module-1 .contents .question h3 {
    border-radius: 25px;
    border: 2px solid #111;
    color: #111;
    font-family: vegurLight;
    font-size: 30px;
    padding: 10px 0px 10px 15px;
}

.module-1 .contents .answer {
    display: none;
    padding: 0px 0px 15px 15px;
}

.module-1 .contents .answer p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 20px;
}

.module-1 .contents a {
    color: #EF476F;
    text-decoration: none;
}
/*-------------------*/
