body{
    margin: 0%;
    background-color: whitesmoke;
    
}

#div1{
    margin-left:0%;
    margin-right:0%;
    

    padding-bottom: 25%;
    padding-top:25%;
    display: block;
    background-color: #262a33;
  
}

#div1 h1 {
  color: whitesmoke;
  font-weight: bold;
}

#div2{
    background-color: whitesmoke;
    
    margin-left:0%;
    margin-right:0%;
    
    padding-bottom:25%;
    padding-top: 25%;
}

#div2 h1{
    color:#262a33;    
}
