body{
  margin: none;
  background-color: black;
}

#div1{
  float: top;
  display: block;
  background-color: black;
  margin: auto;
}

#div1 h1 {
  color: white;
  font-weight: bold;
}

#div2{
  background-color: white;
}