/*---------------------------

    KEY STYLING

---------------------------*/
@font-face {
    font-family: vegur;
    src: url(arro_vegur/Vegur-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: vegurBold;
    src: url(arro_vegur/Vegur-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: vegurLight;
    src: url(arro_vegur/Vegur-Light.otf);
    font-weight: lighter;;
}

strong {
    font-family: vegurBold;
}

body{
    margin:0;
    padding:0;
    font-family: vegur;
    color: white;
    background-color: #313d4d;
}

.pc-section {
    position: absolute;
    left: 0;
    right: 0;
    top: 44px;
    bottom: 0;
    border-left: 70px solid #262a33;
    border-right: 70px solid #262a33;
}

/*---------------------------

    OTHER STYLING

---------------------------*/
/*------NAVBAR-------*/
.pc-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 12.5px;
    overflow: hidden;
    background-color: #414449;
}

.pc-navbar li {
    float: left;
}

.pc-navbar li a{
    font-family: vegurLight;
    color: #EEEEEE;
    padding: 50px;
    text-decoration: none;
}

.pc-navbar li a:hover:not(#active) {
    background-color: #111;
}

#active {
    color: #a8a8a8;
}

/*-------------------*/
.pc-section h1,h2 {
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
}

.pc-section h1 {
    font-size: 70px;
    font-family: vegurLight;
}

.pc-section h2 {
    font-size: 20px;
    color: white;
}

.pc-container {
    padding-left: 100px;
}

.pc-question h3 {
    padding: 10px 0px 10px 15px;
    width: 800px;
    font-family: vegurLight;
    color: #ffffff;
    background-color: #4A505E;
    border-radius: 25px;
}

.pc-answer {
    display: none;
    padding: 15px;
}

.pc-answer p{
    padding: 0;
    margin: 0;
}
