/*---------------------------

    KEY STYLING

---------------------------*/
@font-face {
    font-family: vegur;
    src: url(arro_vegur/Vegur-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: vegurBold;
    src: url(arro_vegur/Vegur-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: vegurLight;
    src: url(arro_vegur/Vegur-Light.otf);
    font-weight: lighter;;
}

body {
    margin:0;
    padding:0;
    font-family: vegur;
    color: black;
    background-color: #ffffff;
}

img {
    border-radius: 8px;
    float: center;
    display: block;
    margin: auto;
}

/*---------------------------

    OTHER STYLING

---------------------------*/
/*------HEADER-------*/
.pc-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 12.5px;
    overflow: hidden;
    background-color: #333333;
}

.pc-navbar li {
    float: left;
}

h1 {
    color: black;
  font-size: 34px;
    text-align: center;
  text-shadow: 1px 2px lightgrey;
    font-family: 'Vegur-Regular'; /* Changes header one font to Open Sans */
}


#frame{
  margin: auto;
  display: block;
  vertical-align: center;
  width: 80%;
  border:  2px solid black;
  border-radius: 4px;
  overflow: hidden;
}


.pc-navbar li a{
    font-family: vegurLight;
    color: #EEEEEE;
    padding: 50px;
    text-decoration: none;
}

.pc-navbar li a:hover:not(#active) {
    background-color: #111;
}

#active {
    color: #a8a8a8;
}

/*-------------------*/
.pc-section h1 {
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
	color: black;
    font-family: vegurLight;
    font-size: 70px;
}

#member{
  margin:auto;
  float: center;
}

#frame{
  margin: auto;
  display: block;
  vertical-align: center;
  width: 80%;
  border:  2px solid black;
  border-radius: 4px;
  overflow: hidden;
}

.p1 {
  color: white;
  border-radius: 4px;
  background-color: black;
  text-align: left;
  border: 1px solid black;
  padding: 10px;
}

.pc-container {
    padding-left: 100px;
}

/*.pc-container ul{
    list-style-type: none;
}

.pc-container ul li{
    float: left;
    width: 50%;
}*/

.pc-member {
    float: left;
    width: 45%;
    margin-right: 25px;
}

.pc-member h3 h4 p {
    color: black;
}

.pc-member h3 {
    font-family: vegurLight;
    font-size: 35px;
    margin-top: -30px;
}

.pc-member h4 {
    font-family: vegurBold;
    font-size: 30px;
    /*background-color: #1e252f;
    border-radius: 25px;*/
}
